<!DOCTYPE html>
<html>

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="content">
    {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}

    <section class="post">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

<div>
      {{ if .Params.featured_image }}
              <img {{ with .Params.featured_image }} src="{{ . }}"{{ end }} alt="{{ .Title }}"> {{end}}
            </div>
      <div>
        <h2>Our next show is {{ dateFormat "Mon Jan 2, 2006 at 3:04 PM" .Params.show_date }}</h2>
      </div>

<div>
  {{ with .Params.Description }}{{ . | markdownify }}{{ end }}   <button class="button"><a target="_blank" href="{{.Params.tix}}">Buy Tickets</a></button> <button class="button"><a target="_blank" href="{{.Params.fb_event}}">Invite Friends</a></button>
</div>

</section>

<section>
  <hr>
{{ partial "mailchimp-single.html" }}
</section>


<section>

      <div class="post-content">
        {{ .Content }}
      </div>

    </section>

    <section class="pagination clearfix">
      {{ with .PrevInSection }}
      <a class="btn previous " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="btn next " href="{{.Permalink}}"> {{ .Title }} </a>
      {{ end }}
    </section>



    {{ if .Params.comments }}{{ partial "disqus.html" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}

  <script src="{{ "js/highlight.min.js" | absURL }}"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {{ partial "analytics.html" . }}
</body>

</html>
